
body{
    background-color: #8E8D8D;
    color: #DEDEE0;
    font-size: 1.5em;
}

header{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

h1{
    font-family: "Poller One";
    font-size: 3em;
}

main{
    display: flex;
    justify-content: center;
    gap: 175px;
}

#leftSide, #rightSide {
    flex: 1;
    max-width: 600px;
    position: relative;
}

/* left side*/



.clock {
    position: relative;
    height: 600px;
    /* width: 100%; */
    /* padding-top: 100%; */ /* Make it a square */
    
}

#Record {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    object-fit: contain;
    animation: spin 16s linear infinite;
}

.numbers {
    position: absolute;
    top: 41%;
    left: 43%;
   /*  width: 100%;
    height: 100%; */
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
}

.nums {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(calc(var(--i) * 30deg)) translateY(-320px) rotate(calc(var(--i) * -30deg));
    transform-origin: center;
    font-size: 2em;
    color: rgb(19, 18, 18);
    background-color: transparent;
    border: none;
}

.nums.active {
    color: #DEDEE0;
}


#timeOfDay {
    position: absolute;
    top: 50%; /* align vertically center */
    left: 110%; /* move it to the right side of the record */
    transform: translateY(-50%);
    display: flex;
    gap: 5px;
    font-size: 1.5em;
    color: black;
    background-color: #666666;
    border: black solid 2px;
    height: 50px;
}

#am{
    color: #DEDEE0;
    background-color: transparent;
    border: none;
    font-size: 1em;
}

#am:hover{
    background-color: #545454;
}

#pm{
    background-color: transparent;
    border: none;
    font-size: 1em;
}

#pm:hover{
    background-color: #545454;
}



/* right side*/
#music{
    text-align: center;
    position: relative;
    height: 600px;
}

.albumCover {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 58%;
    width: 350px;
    height: 350px;
    display: none;
    z-index: 1;
    transition: opacity 0.4s ease;
}

.albumCover.show {
    display: block;
    z-index: 10;
}

#name{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 58%;
    font-size: 1.2em;
}

#WhatIWasDoing{
    position: absolute;
    margin-top: 50px;
    text-align: center;
    transform: translate(-50%, -50%);
    top:90%;
    left: 58%;
    font-size: 1.2em;
}

#ActivityTitle{
    color: rgb(19, 18, 18);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);

  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}